doctype html
html
	head
		link(rel='shortcut icon', href='/favicon.ico')
		//- meta(name='version', content='0.7.19')
		title tm (torgovaya marka)
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		link(href='/css/main.css', rel='stylesheet')
		link(href='/css/AdminLTE.min.css', rel='stylesheet')
		link(href='/css/select2.min.css', rel='stylesheet')
		link(href='/css/ionicons.min.css', rel='stylesheet')
		link(href='/css/font-awesome.min.css', rel='stylesheet')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			.container-fluid
				.navbar-header
					a.btn.navbar-toggle.collapsed()
					a.navbar-brand()
				ul.nav.navbar-nav.navbar-right.hidden-xs
					li
						a() Выдох
		.container-fluid
			.row
				.col-sm-3.col-md-2.sidebar
					ul#nav.nav.nav-sidebar
						li
							a() Статус
						li
							label.tree-toggle.nav-header Задачи
							ul.nav.tree
								li
									a()#buttonMyTasks Мои задачи
								li
									a()#buttonAllTasks Все задачи
								li
									a() Еще какие-то задачи
						li
							label.tree-toggle.nav-header Пользователи
							ul.nav.tree
								li
									a() Входящие схемы
								li
									a() Шаблоны
								li
									a() Исходящие схемы
								li
									a() Группы вызова
								li
									a() Очереди
						li
							a() Что-то
						li
							a()
								| Что-то
				.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
					h3 Мои задачи
					.row
						.col-md-5.col-sm-12
							h4.box-title
								.box-tools.pull-right
									ul.pagination.pagination-sm.inline
										li
											a(href='#') «
										li
											a(href='#') 1
										li
											a(href='#') 2
										li
											a(href='#') 3
										li
											a(href='#') »
							button#buttonAddTask1.btn.btn-default(type='button')
								i.fa.fa-plus
								| Add task
							.box.box-primary(style='position: relative; left: 0px; top: 0px;')
									.box-header.ui-sortable-handle(style='cursor: move;')
										i.ion.ion-clipboard
									.box-body
										ul#listTasks.todo-list.ui-sortable
									.box-footer.clearfix.no-border
										button#buttonAddTask2.btn.btn-default.pull-right(type='button')
											i.fa.fa-plus
											|  Add task
						.col-md-1.col-sm-12
						.col-md-6.col-sm-12
							.info-box.bg-red
								span.info-box-icon
									i.fa.fa-calendar
								.info-box-content
									span.info-box-text Tasks
									span.info-box-number 14 88
									// The progress section is optional
									.progress
										.progress-bar(style='width: 70%')
									span.progress-description
										| 70% Increase in 30 Days
							.jumbotron
								form#panelTaskEdit(hidden='true', role='form')
									.overlay
										i.fa.fa-refresh.fa-spin
									.form-group
										label Название
										input#taskName.form-control(placeholder='task name', type='text', name='name')
									.form-group
										label Описание
										textarea#taskDescription.form-control(rows='3', placeholder='Описание ',  name='description')
									.form-group
										label Постановщик
										select#taskDirector.form-control.select2.select2-hidden-accessible(aria-hidden='true', tabindex='-1', style='width: 100%;', name='director')
									.form-group
										label Тип
										select#taskType.form-control.select2.select2-hidden-accessible(aria-hidden='true', tabindex='-1', style='width: 100%;', name='type')
									.form-group
										label Статус
										select#taskStatus.form-control.select2.select2-hidden-accessible(aria-hidden='true', tabindex='-1', style='width: 100%;', name='status')
									button#buttonTaskAdd.btn.btn-primary(type='button') Accept
								h4 Статистика
								p
									| Текущая длительность (тут надпись проекта или задачи ):
									span.time
								p
									| Выполнение задачи:
								.progress
									.progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width: 70%;', title='сколько то процентов в зависимсти от выполненых задач распределенных по времени')
										| 70%
		script(src='/js/jquery-2.2.3.min.js')
		script(src='/js/jquery-ui.min.js')
		script(src='/js/custombox.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/bootstrap.js')
		script(src='/js/main.js')
		script(src='/js/app.js')
		script(src='/js/pages/dashboard.js')
		script(src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
		script(src='/plugins/fastclick/fastclick.js')
		script(src='/plugins/select2/select2.full.min.js')

		//- script(src='//getbootstrap.com/examples/navbar-static-top/../../dist/js/bootstrap.min.js')

